# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Objectives: 

- Python
- R
- SQL
- Julia
- Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Nympy
3. Scikit-learn
4. Matplotlib

|Data Science Tools|
|--|
|Jupyter Notebook|
|RStudio|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [30]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [35]:
result = 200/60
print(result, "Hours")

3.3333333333333335 Hours

## Author
Noureddine